<ion-header>
    <ion-toolbar>

        <ion-title>renitialisationmotdepasse</ion-title>
        <ion-back-button slot="start"></ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label for="ancien mot de pase">ancien mot de pase</ion-label>
    </ion-item>
    <ion-item>
        <input type="password" id="ancien mot de pase" name="ancien mot de pase">
    </ion-item>

    <ion-item>
        <ion-label for="nouveau mot de pase">nouveau mot de pase</ion-label>
    </ion-item>
    <ion-item>
        <input type="password" id="nouveau mot de pase" name="nouveau mot de pase">
    </ion-item>

    <ion-item>
        <input type="button" value="validez">
    </ion-item>
</ion-content>
