<ion-content [fullscreen]="true">
    <ion-header>
        <ion-toolbar color="secondary">
            <ion-title size="meduim">Application de Gestion</ion-title>
            <ion-button routerLink="/login">login ></ion-button>
            <ion-button routerLink="/inscription">inscription ></ion-button>


        </ion-toolbar>

        <ion-toolbar>

            <ion-searchbar> </ion-searchbar>
        </ion-toolbar>



        <ion-img src="assets/images/gestion.jpg"></ion-img>

    </ion-header>


    <ion-card-content>



        



    </ion-card-content>





















</ion-content>
